<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <img src="https://www.autoenrolment.co.uk/images/logos/smart-pension-483cd6b8.svg">
    <h1>Login to Open Banking</h1>
    <form id="formLogin" name="login" method="post" action="/login">
      <input id="inputUserName" type="text" placeholder="username" name="username" />
      <input id="inputPassword" type="password" placeholder="password" name="password" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>